services:
  website:
    build:
      context: .
      dockerfile: Dockerfile.website
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production

  docs:
    build:
      context: .
      dockerfile: Dockerfile.docs
    ports:
      - "3001:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
