# Dependencies
node_modules
.pnpm-store

# Build output
.next
out
dist

# Development
.turbo
*.log
.env*.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Git
.git
.gitignore
